{% extends 'index.twig' %}

{% block body %}


<div id="content" class="centred">
    <div class="container naszafirma" data-aos="fade-up">
        <h1  id = "realizacje">Nasza Firma</h1>
        <div class="row" id="naszafirmarow">
            <div class="col-md-6" id="naszafirma2">
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec risus ullamcorper, rhoncus leo id, sollicitudin tellus. Duis maximus sem sed scelerisque ultricies. Morbi faucibus lacus id iaculis efficitur. In et ligula
                    nec magna porta luctus nec vel ante. Sed fermentum in leo quis viverra. Proin et orci a est laoreet molestie. Integer ac tellus nec libero sagittis placerat sit amet vestibulum lorem. Duis scelerisque sapien eu ultricies sodales.
                    Praesent et elementum odio. Cras finibus ultrices odio in malesuada. Ut arcu arcu, convallis vel neque accumsan, pellentesque lacinia felis. Curabitur nec mi erat. Proin mollis convallis velit at condimentum. Cras vitae condimentum
                    nunc. Nam sed risus ut risus imperdiet facilisis. Aenean pharetra arcu quis ligula interdum, at feugiat tortor ultrices. Pellentesque quis tincidunt orci. Etiam imperdiet ipsum non viverra imperdiet. Praesent consequat rutrum
                    nibh, a finibus lectus efficitur interdum. Sed maximus, ex sed convallis tincidunt, diam est ullamcorper quam, a viverra nulla leo ac ipsum. Sed faucibus, nulla a scelerisque blandit, mauris odio tincidunt enim, non cursus
                    eros nibh eget odio. Sed quis velit eget nunc feugiat volutpat malesuada a augue. Vivamus convallis erat vel leo posuere, a eleifend neque blandit. Ut ullamcorper fermentum ipsum, ac congue ante dictum efficitur. Etiam a quam
                    efficitur ipsum fermentum ultricies. Mauris vestibulum lectus vel ante rutrum, quis dapibus metus interdum. Donec vel fermentum nulla, nec blandit nisi.</p>
            </div>
            <div class="col-md-6" id="naszafirma1"><img class="img-fluid" alt = "obraz przedstawiający drukarza przy pracy" src={{ asset('img/img_about1.jpg', 'theme') }}></div>
        </div>
        <div class="row" id="naszafirmarow">
            <div class="col-md-6" id="naszafirma1"><img class="img-fluid" alt="pokrętła" src={{ asset('img/img_about2.jpg', 'theme') }}></div>
            <div class="col-md-6" id="naszafirma2">
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec risus ullamcorper, rhoncus leo id, sollicitudin tellus. Duis maximus sem sed scelerisque ultricies. Morbi faucibus lacus id iaculis efficitur. In et ligula
                    nec magna porta luctus nec vel ante. Sed fermentum in leo quis viverra. Proin et orci a est laoreet molestie. Integer ac tellus nec libero sagittis placerat sit amet vestibulum lorem. Duis scelerisque sapien eu ultricies sodales.
                    Praesent et elementum odio. Cras finibus ultrices odio in malesuada. Ut arcu arcu, convallis vel neque accumsan, pellentesque lacinia felis. Curabitur nec mi erat. Proin mollis convallis velit at condimentum. Cras vitae condimentum
                    nunc. Nam sed risus ut risus imperdiet facilisis. Aenean pharetra arcu quis ligula interdum, at feugiat tortor ultrices. Pellentesque quis tincidunt orci. Etiam imperdiet ipsum non viverra imperdiet. Praesent consequat rutrum
                    nibh, a finibus lectus efficitur interdum. Sed maximus, ex sed convallis tincidunt, diam est ullamcorper quam, a viverra nulla leo ac ipsum. Sed faucibus, nulla a scelerisque blandit, mauris odio tincidunt enim, non cursus
                    eros nibh eget odio. Sed quis velit eget nunc feugiat volutpat malesuada a augue. Vivamus convallis erat vel leo posuere, a eleifend neque blandit. Ut ullamcorper fermentum ipsum, ac congue ante dictum efficitur. Etiam a quam
                    efficitur ipsum fermentum ultricies. Mauris vestibulum lectus vel ante rutrum, quis dapibus metus interdum. Donec vel fermentum nulla, nec blandit nisi.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}