{% extends 'index.twig' %}

{% block body %}
        <div class="col-12" data-aos="fade-up">
            <h3 class="name disclaimer">{{ record.title }}</h3>
            <img class="" src=" /files/{{ record.image}}" >
            <p class="description"> {{ record.teaser }}</p>
            <p>{{ record.body }}</p>
        </div>

{% endblock %}