{% extends 'index.twig' %}
{% block body %}

    <div id="content" data-aos="fade-up">
        <div class="disclaimer"><img class="img-fluid viper"  alt = "viper drukarka dtg" src={{ asset ('img/DTG-Viper.png', 'theme') }} ></div>
        <div class="container" >
            <h1>Technika znakowania - druk cyfrowy DTG </h1>
            <h3>Jedną z najpopularniejszych technik znakowania odzieży jest druk cyfrowy DTG, który z niezwykła precyzją i dokładnością oddaje nawet drobne elementy projektu. Druk wykonywany jest na największym w Polsce i najnowocześniejszym parku maszynowym
                uznanej marce na Świecie – Kornit. </h3>
            <h4>Doskonale nadaje się do druku wielokolorowych zdjęć. Za pomocą druku bezpośredniego DTG znakuje się głównie odzież bawełnianą: koszulki, polówki, topy, bluzy, a także torby&nbsp;<strong>już od 1 szt.</strong> </h4>
            <div class="row">
                <div class="col-md-6"><a class="btn btn-info btn-lg" role="button" href="/pages/tricks" style="background-color:rgb(62,129,195);font-family:Arial;">Czytaj więcej</a></div>
                <div class="col-md-6"><a class="btn btn-info btn-lg" role="button" href="#" style="background-color:rgb(62,129,195);font-family:Arial;"><strong>Termin realizacji: nawet do 24h</strong></a></div>
            </div>
        </div>
    </div>
{% endblock %}