{% extends 'index.twig' %}

{% block body %}
    <div id="content">
        <div class="container add " data-aos="fade-up">
            <h1 class="disclaimer">Regulamin </h1>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed eu orci tempor neque dapibus auctor at at nibh.Proin pellentesque eros eget finibus mollis.Fusce vitae ligula ultrices, condimentum enim non, consectetur orci.Morbi semper
                    diam accumsan odio vehicula, non vulputate massa convallis. </li>
                <li>Nam eget tortor pellentesque, tristique diam vel, dignissim turpis.Mauris malesuada erat id diam sodales bibendum.Vestibulum ut ipsum vitae mi viverra volutpat. </li>
                <li>Nunc vel lacus in leo lacinia vehicula.Mauris iaculis lectus vitae maximus elementum.Cras gravida mauris vel leo interdum sollicitudin.Etiam at ante a risus efficitur suscipit. </li>
                <li>Mauris maximus diam et justo ornare efficitur.Pellentesque ac ex sed eros tempus tempus id in velit.Vestibulum pulvinar est malesuada mi tincidunt dictum.Donec a odio eu nisl iaculis aliquam a nec nulla.Proin ultrices magna quis ipsum
                    sagittis, at rutrum elit aliquam. </li>
                <li>Sed venenatis massa volutpat elit maximus pellentesque.Vivamus consectetur est a ipsum hendrerit pellentesque et vel mi.Nunc ultricies ex id risus dictum mattis quis nec neque. </li>
                <li>Nulla bibendum nulla non leo auctor, ut pharetra elit consequat.Sed nec nulla a leo consectetur lacinia.Pellentesque vel velit dapibus, varius ex non, hendrerit est.In eget nulla vitae massa sollicitudin pulvinar. </li>
                <li>Vivamus iaculis leo id ante cursus, vitae sodales nulla interdum.Sed ac nulla vitae tellus maximus eleifend. </li>
                <li>Mauris ut risus vel nunc fermentum cursus quis et enim. </li>
                <li>Proin euismod nisi vehicula rutrum maximus.Integer ac mauris nec ante sollicitudin fermentum nec mattis sapien.Donec non arcu pulvinar, imperdiet orci sed, imperdiet ex.Nam et urna vel nisi consectetur condimentum sit amet vitae augue.Quisque
                    viverra ligula sit amet turpis cursus, et lobortis mauris accumsan. </li>
                <li>Vestibulum iaculis velit sed turpis ullamcorper, in mollis quam hendrerit.Pellentesque et est non eros fermentum feugiat id vel quam.Nullam id sem id lectus vulputate blandit.Pellentesque luctus metus scelerisque felis mattis volutpat.
                </li>
                <li>Pellentesque nec libero ac quam sollicitudin venenatis.Cras vel eros eget orci mollis hendrerit.Nunc eu dui pretium, sollicitudin dolor sed, ultricies orci.Cras molestie enim cursus imperdiet vestibulum. </li>
                <li>Curabitur et dolor id sapien interdum efficitur.Mauris maximus nibh vel magna gravida congue.Sed pretium lacus finibus, luctus nibh eget, eleifend felis. </li>
                <li>Mauris blandit ipsum in tortor mollis, eget eleifend sem dictum.Mauris non turpis sit amet neque iaculis porttitor.Nam mollis est in magna vehicula mollis. </li>
                <li>Proin at risus ac nibh hendrerit placerat.Praesent mattis mi vitae elit blandit accumsan.Vivamus ut diam vel augue vehicula pharetra et quis nisi. </li>
                <li>Duis eu velit efficitur, venenatis lectus eu, sagittis libero.Duis lacinia arcu eget molestie tristique.Ut non libero faucibus magna luctus sollicitudin eu eu ex.Aenean eu odio ullamcorper, maximus enim dignissim, tristique mi.Morbi
                    in augue nec mi ullamcorper eleifend nec a nisl. </li>
            </ul>
        </div>
    </div>
{% endblock %}