<!-- Header bar -->
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-right fixed-top">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">DTG CENTER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar1">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar1">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/page/deal">Oferta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/done">Realizacje</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/page/about"> O firmie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/tricks">Porady</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/disclaimer">Regulamin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>
                 LOGOWANIE</a>
            </li>
        </ul>
    </div>
</nav>
