
<footer class="opacity duration" data-aos="fade-up sticky-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="/">DTGCenter </a></h3>
                <p class="links"><a href="/">Strona domowa</a><strong> · </strong><a href="/pages/deal">Oferta </a><strong> · </strong><a href="/pages/done">Realizacje </a><strong> · </strong><a href="/pages/about">O Firmie</a><strong> · </strong><a href="/pages/tricks">Porady </a><strong> · </strong><a href="/pages/disclaimer">Regulamin </a>

                </p>
                <p class="company-name">DTGCenter © 2018 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">ul. Miejscowa 11</span> 12-345 Gdzieś</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +48 555 123 456</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">bok@DTGCenter.com.pl</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>O nas</h4>
                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a></div>
            </div>
        </div>
    </div>
</footer>




