<div class="container DTG" data-aos="fade-up" id="info">
    <h1>Druk DTG</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Czym jest druk DTG?</h3>
            <p id="opis">Jedną z najnowocześniejszych technik znakowania odzieży jest druk cyfrowy DTG, który z niezwykła precyzją i dokładnością oddaje nawet drobne elementy projektu. Doskonale nadaje się do druku wielokolorowych zdjęć. Za pomocą druku
                bezpośredniego DTG znakuje się głównie odzież bawełnianą: koszulki, polówki, topy, bluzy, a także torby. Alternatywna metoda względem sitodruku, która do znakowania wykorzystuje specjalne drukarki przenoszące projekt bezpośrednio
                na powierzchnię tkaniny. Druk bezpośredni DTG służy głównie do znakowania odzieży bawełnianej, jednak istnieje możliwość druku na materiałach z niską domieszką poliestru. Nadruk może być umieszczony z przodu lub z tyłu koszulki,
                jak również na rękawkach. Na cenę druku DTG mają wpływ: ostateczny nakład, wielkość nadruku, a także kolor materiału, na który zostanie naniesiony projekt. W przypadku kolorowych tkanin zawsze kładziony jest biały poddruk pod
                całością, który zapewnia większą trwałość nadruku oraz idealne nasycenie kolorystyczne. Odmiennie, niż w przypadku sitodruku, ilość kolorów użytych w projekcie nie ma wpływu przy wycenie. Druk DTG daje&nbsp;możliwość personalizacji
                odzieży poprzez nanoszenie różnych projektów na odzież. Dlatego doskonale sprawdza się zarówno dla niskich (już od 1szt.), jak i wysokich nakładów. </p>
        </div>
        <div class="col-md-6" id="ramkavideo" style="height:315px; width: 300px;"><iframe  src="https://www.youtube.com/embed/broLgwMO7ns" frameborder="0" allowfullscreen></iframe></div>
    </div>
</div>
<div class="container Why" data-aos="fade-up">
    <h1>Dlaczego warto z nami współpracować?</h1>
    <div class="row">
        <div class="col-md-4"><i class="fa fa-handshake-o icon"></i>
            <h4><strong>Zostaniesz kompleksowo obsłużony</strong> </h4>
        </div>
        <div class="col-md-4"><i class="fa fa-clock-o icon"></i>
            <h4><strong>Zadbamy o szybką realizację</strong> </h4>
        </div>
        <div class="col-md-4"><i class="fa fa-calendar-plus-o icon"></i>
            <h4><strong>Podejmiesz współpracę z firmą z 10-letnim doświadczeniem</strong> </h4>
        </div>
    </div>
</div>
